@import 'config';
@import 'utilities';
@import 'button';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  font-family: $font-stack;
  @include set-background($light-color);

  .body-form {
    display: none;
  }
}
